html {
  font-family: "Exo 2", sans-serif;
  font-size: 0.875rem;
}

body {
  background-color: #f0f0f0;
}

* {
  outline: none;
  box-shadow:none !important;
}

label {
  font-weight: bold;
}

.card {
  border: none;
}

.pointer {
  cursor: pointer;
}
